
extends ../../layout

block content
  div(class='col-md-6')
    form(id='ship-edit-form' name='ship-edit-form' class='form-horizontal' method="POST" action='')
      input(id='id' name='id' value=$fn.getPropOrDefault(newShip, 'id', ship.id) type='hidden')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Number
        div(class='col-md-9')
          input(id='number' name='number' value=$fn.getPropOrDefault(newShip, 'number', ship.number) class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Name
        div(class='col-md-9')
          input(id='name' name='name' value=$fn.getPropOrDefault(newShip, 'name', ship.name) class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='country') Country
        div(class='col-md-9')
          input(id='country' name='country' value=$fn.getPropOrDefault(newShip, 'country', ship.country) class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='tonnage') Tonnage
        div(class='col-md-9')
          input(id='tonnage' name='tonnage' value=$fn.getPropOrDefault(newShip, 'tonnage', ship.tonnage) class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='sediment') Sediment
        div(class='col-md-9')
          input(id='sediment' name='sediment' value=$fn.getPropOrDefault(newShip, 'sediment', ship.sediment) class='form-control')
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Update