extends ../../layout

block content
  div(class='col-md-6')
    form(id='pier-delete-form' name='pier-delete-form' class='form-horizontal' method="POST" action='')
      input(id='id' type="hidden" name='id' value=pier.id class='form-control')
      div(class='form-group')
        div(class='col-md-12') Do you want to delete pier with number #{pier.number} and port id #{pier.port}?
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Delete